   
	ul
	{
	list-style-type: none;
	overflow: hidden;
	margin: 0px;
	padding: 5px;
	font-size:20;
    background-color:black;
	}

	li
	{
	float: right;
	}
	
	li a
	{
	display: block;
	color: tomato;
	text-align: right;
	padding: 18px;
	text-decoration: none;
	}
	   
	li a:hover
	{
	background-color:cyan;
	}	